<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Foster Hero</title>
</head>

<body>
    <nav>
        <a href="/" class="nav-home">HOME</a>
        <% if (user) { %>
            <a href="/cats">CATS</a>
            <a href="/users">FOSTER CARERS</a>
            <a href="/vets">VETS</a>
            <a href="/logout">LOG OUT</a>
            <% } else { %>
                <a href="/auth/google" class="login">LOG IN</a>
                <% } %>

    </nav>
    <main>
