<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Foster Hero</title>
</head>

<body>
    <nav>
        <a href="/" class="nav-home">HOME</a>
        <% if (user) { %>
            <div class="dropdown">
                <a href="/cats" class="dropdown-main">CATS</a>
                <div class="dropdown-content">
                    <a href="/cats/new">ADD A NEW CAT</a>
                    <a href="/cats">ALL CATS</a>
                    <a href="/cats">CATS IN CARE</a>
                    <a href="/cats">ADOPTABLE CATS</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="/users" class="dropdown-main">FOSTER CARERS</a>
                <div class="dropdown-content">
                    <a href="/users">ALL FOSTER CARERS</a>
                    <a href="/cats">ACTIVE FOSTER CARERS</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="/vets" class="dropdown-main">VETS</a>
                <div class="dropdown-content">
                    <a href="/vets">ALL VETS</a>
                    <a href="/cats">ALL VET APPOINTMENTS</a>
                </div>
            </div>
            <a href="/logout">LOG OUT</a>
            <% } else { %>
                <a href="/auth/google" class="login">LOG IN</a>
                <% } %>

    </nav>
    <main>
