<%- include('./partials/header') %>
<div class="homepage-main">
    <div>
        <img src="/images/homepage-image.png" class="homepage-image">
    </div>
    <div>
        <a href="/cats/adoptable" class="adoptable-cats-link">SEE ALL ADOPTABLE CATS</a>
    </div>
</div>

<%- include('./partials/footer') %>
