<%- include('./partials/header') %>
<div class="homepage-main">
    <h1>Foster Hero</h1>
    <div class="homepage-div">
        <img src="/images/homepage-image.png" class="homepage-image" />
    </div>
    <div class="homepage-div">
        <a href="/cats/adoptable" class="button-link-main" id="homepage-button"
            >SEE ALL ADOPTABLE CATS</a
        >
    </div>
</div>

<%- include('./partials/footer') %>
