<%- include('./partials/header') %>

    <img src="/images/homepage-image.png" class="homepage-image">
    <a href="/cats" class="adoptable-cats-link">SEE ALL ADOPTABLE CATS</a>

<%- include('./partials/footer') %>
