@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

:root {
    --main-blue: #87969d;
    --secondary-blue: #82a6b6;
    --beige: #e0b38a;
    --secondary-blue-transparent: rgba(130, 166, 182, 0.8);
    --table-grey: #f0eeee;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-blue);
    margin: 0;
    /* height: 100vh; */
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        'nav'
        'main'
        'footer';
}

/* nav-bar styling */

nav {
    overflow: hidden;
    grid-area: nav;
    background-color: var(--main-blue);
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-home {
    object-fit: contain;
    margin-right: auto;
}

nav a,
nav div {
    margin: 10px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

nav .active {
    color: var(--beige);
    cursor: default;
}

.dropdown {
    overflow: hidden;
}

.dropdown .dropdown-main {
    background: inherit;
    font-family: inherit;
    margin: 0;
}

nav a:hover,
.dropdown:hover .dropdown-main {
    background: var(--secondary-blue);
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 100px;
    background-color: var(--secondary-blue-transparent);
}

.dropdown-content a {
    float: none;
    padding: 0.5em;
    display: block;
    text-align: left;
    font-size: smaller;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* main styling */

main {
    grid-area: main;
    padding: 1em 1em;
}

/* footer styling */

footer {
    grid-area: footer;
    background-color: var(--main-blue);
    color: white;
    font-size: small;
    padding: 1em 1em;
    line-height: 150%;
}

/* homepage specific styling */

.homepage-main {
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-main > div {
    padding: 1em 0;
}

/* button / link styling */

.filtering-links {
    margin-bottom: 2em;
    font-size: 14px;
}

.button-link-main {
    background-color: var(--main-blue);
    padding: 0.5em;
    margin-right: 0.25em;
    color: white;
    border-radius: 5px;
    font-size: 14px;
}

.active-filter {
    background-color: var(--secondary-blue);
    font-size: 14px;
}

button {
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    border-radius: 5px;
    text-shadow: 0px 0px 0px transparent;
    background-color: var(--main-blue);
    padding: 0.5em;
    margin-right: 0.25em;
    color: white;
    font-size: 14px;
}

.form-input-button {
    text-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    background-color: var(--main-blue);
    padding: 0.5em;
    margin-right: 0.25em;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
}

.button-link-main:hover,
button:hover,
.form-input-button:hover {
    color: var(--beige);
    cursor: pointer;
}

/* form styling */

/* table styling */
table {
    margin: 1.5em 0;
}

th,
td {
    padding: 1em;
    vertical-align: middle;
    background-color: var(--table-grey);
    color: var(--secondary-blue);
}

table a {
    text-decoration: underline;
}
table a:hover {
    color: var(--beige);
}

/* cat pages styling */
.all-cats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em 0em;
}

.cat-image img {
    width: 50%;
}

.show-cat-image img {
    width: 30%;
}

.show-cat-details div {
    padding: 1em 0 0 0;
}

.show-cat-buttons {
    padding: 1em 0;
}

.show-edit-cat-buttons > div {
    margin-right: 0.25em;
    margin-bottom: 2em;
}

.note-user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-user img {
    border-radius: 50%;
    height: 40px;
    padding-right: 0.5em;
}
