@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

:root {
    --main-blue: #87969d;
    --secondary-blue: #82a6b6;
    --beige: #e0b38a;
    --secondary-blue-transparent: rgba(130, 166, 182, 0.8);
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        'nav'
        'main'
        'footer';
}

nav {
    grid-area: nav;
    background-color: var(--main-blue);
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-home {
    object-fit: contain;
    margin-right: auto;
}

nav > a {
    margin: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: var(--main-blue);
    color: white;
    font-size: small;
    padding: 1em 1em;
}

.homepage-image {
    justify-items: center;
}
